.chat-container {
  overflow: hidden;
  height: 100vh;
}

.chat-container .header {
  color: #ffffff;
  background-color: #31396a;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  text-align: center;
}

.chat-container .main {
  height: calc(100% - 64px);
}

.chat-container .main .conversation-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.chat-container .main .conversation-detail .conversation-header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  font-size: 20px;
}

.chat-container .main .conversation-detail .conversation-messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 12px;
  background-color: white;
}

.chat-container .main .conversation-detail .conversation-input {
  display: flex;
  height: 64px;
  line-height: 64px;
  background-color: #31396a;
}

.chat-container .main .conversation-detail .conversation-input input {
  height: 64px;
  flex: 1;
}

.chat-container .main .conversation-detail .conversation-input button {
  font-weight: 550;
  margin: 0px 0px;
  width: 100px;
  font-size: 16;
}

.chat-container .main .conversation-detail .conversation-input input:focus {
  outline: none;
}

.message-item {
  margin: 5px;
}

.message-item .sender {
  font-size: 13px;
}

.message-item .message-content {
  border-radius: 4px;
  padding: 4px;
  display: inline-block;
  max-width: 40%;
  word-break: break-all;
}

.my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.my-message .message-content {
  background-color: #31396a;
  color: #ffffff;
}

.other-message .message-content {
  background-color: silver;
}