
.login-form-container{
    margin-left: 65%;
    background-color: white;
    opacity: 0.8;
    width: 35%;
    height:100vh;
    padding-left: 40px;
}

.error-message {
    color: red;
    margin: 0 20px;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: #31396a;
}

a:hover {
  color: red;
}

img.logo {
    width: 90%;
    border-radius: 50%;
  }

input[type= email], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 5px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
input[type= email]:focus, input[type=password]:focus {
  width: 90%;
  background-color: #31396a;
  color: white;
  margin: 5px 0;
}

input[type= submit] {
  background-color: #31396a;
  color: white;
  padding: 14px 20px;
  margin: 5px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type= submit]:hover{
    background-color: #f6a6a7; 
    width: 90%;   
    margin: 5px 0;
}
  