
.login-form-container{
    background-color: white;
    opacity: 0.8;
    width: 450px;
    height:700px;
    padding-left: 40px;
}

.error-message {
    color: red;
    margin: 0 20px;
}
.success-message {
  color: green;
  margin: 0 20px;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: #31396a;
}

a:hover {
  color: red;
}

img.logo {
    width: 90%;
  }

img.reset-password {
  width: 80%;
  margin-left: 20px;
  padding-top: 70px;
  padding-bottom: 30px;
} 

input[type= email], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
input[type= email]:focus, input[type=password]:focus {
  width: 90%;
  background-color: #31396a;
  color: white;
  margin: 10px 0;
}

input[type= submit] {
  background-color: #31396a;
  color: white;
  padding: 14px 20px;
  margin: 10px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type= submit]:hover{
    background-color: #f6a6a7; 
    width: 90%;   
    margin: 10px 0;
}

.animationload {
  background-color:white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.osahanloading {
  animation: 1.5s linear 0s normal none infinite running osahanloading;
  background: #fed37f none repeat scroll 0 0;
  border-radius: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 50px;
}

.osahanloading::after {
  animation: 1.5s linear 0s normal none infinite running osahanloading_after;
  border-color: #31396a transparent;
  border-radius: 80px;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 80px;
  left: -25px;
  position: absolute;
  top: -26px;
  width: 80px;
}

@keyframes osahanloading {
0% {
  transform: rotate(0deg);
}
50% {
  background: #85d6de none repeat scroll 0 0;
  transform: rotate(180deg);
}
100% {
  transform: rotate(360deg);
}
}