.name {
    display: flex;
    align-items: stretch;
}

.register-form-container{
    padding-top: 50px;
    background-color: white;
    opacity: 0.8;
    width: 450px;
    height:100vh;
    padding-left: 40px;
}

img.logo-register {
  width: 90%;
  border-radius: 0%;
  padding-top: 17px;
  padding-bottom: 60px;
}

input[type= text] {
    width: 35%;
    padding: 12px 20px;
    margin: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
input[type= text]:focus {
  width: 50%;
  background-color: #31396a;
  color: white;
  margin: 10px 0;
}
